@charset "UFT-8";

/*
TYPICAL DEVICE BREAKPOINTS:
-----------------------------

Pequenas telas: Até 600px;

Celular: De 600px até 768px;
Tablet: De 768px até 992px;
Desktop: De 992px até 1200px;

Grandes telas: Acima de 1200px;
*/

